<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <canvas id="myCanvas" height="768" width="433" #myCanvas></canvas>
</div>
<div style="text-align:center">
  <button mat-button style="width:120px; height: 30px; margin:20px;" (click)="back($event)">Back</button>
  <button mat-button style="width:120px; height: 30px; margin:20px;" (click)="home($event)">Home</button>
  <button mat-button style="width:120px; height: 30px; margin:20px;" (click)="recentapps($event)">Recent apps</button>
</div>

